<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programming</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ict/ict.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Dosis:wght@200&family=Indie+Flower&family=Raleway:wght@200&family=Righteous&display=swap" rel="stylesheet">
   
</head>
<body>
            <header>
                <div class="nav">
                        <div class="word">
                                <h1>QUICKSTUDY</h1>
                                <a class="links" href="#"><h2 style="margin-left: 50px;">Programming</h2></a>
                                <a class="links" href="/"><h2 style="margin-left: 50px;">Home </h2></a>
                                

                        </div>
                </div>
            </header>

            <div class="main">
                    <br><br><br><br><br>
                    <div class="sections">
                              
                            <div class="section_inner">
                                <h1 style="text-align: center; color: rgb(236, 210, 210); font-size: 50px;" >Programming Course</h1>

                                    <div class="math_blocks">
                                            <div class="img"><img style="width: 267px; border-radius: 5px;" src="{% static 'ict/wp9027070.webp' %}" alt=""></div>
                                            <div class="words"> 
                                                    <div style="font-size: 40px;line-height: 60px; font-family: Raleway; font-weight: 700; "> Introduction </div>    
                                                    <div style="font-size: 20px; line-height: 20px; font-family: Raleway; font-weight: 700; ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, aliquid. Facere quae qui a rem?</div> 
                                                    <br>
                                                    <a href="introduction/"><button class="button">Go</button></a>
                                            </div>
                                            
                                    </div>                    
                                    <div class="math_blocks">
                                        <div class="img"><img style="width: 267px; border-radius: 5px;" src="{% static 'ict/php-variables.png' %}" alt=""></div>
                                        <div class="words"> 
                                                <div style="font-size: 40px;line-height: 60px; font-family: Raleway; font-weight: 700; "> Variables </div>    
                                                <div style="font-size: 20px; line-height: 20px; font-family: Raleway; font-weight: 700; ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, aliquid. Facere quae qui a rem?</div> 
                                                <br>
                                                <a href="variables/"><button class="button">Go</button></a>
                                        </div>
                                    </div>
                                    <div class="math_blocks">
                                        <div class="img"><img style="width: 267px; border-radius: 5px;" src="{% static 'ict/if else.png' %}" alt=""></div>
                                        <div class="words"> 
                                                <div style="font-size: 40px;line-height: 60px; font-family: Raleway; font-weight: 700; ">If/Else/While/For</div>    
                                                <div style="font-size: 20px; line-height: 20px; font-family: Raleway; font-weight: 700; ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, aliquid. Facere quae qui a rem?</div> 
                                                <br>
                                                <a href="conditions/"><button class="button">Go</button></a>
                                        </div>





                                    </div>
                                    <div class="math_blocks">

                                        <div class="img"><img style="width: 267px; border-radius: 5px;" src="{% static 'ict/arrays.webp' %}" alt=""></div>
                                        <div class="words"> 
                                                <div style="font-size: 40px;line-height: 60px; font-family: Raleway; font-weight: 700; ">Arrays</div>    
                                                <div style="font-size: 20px; line-height: 20px; font-family: Raleway; font-weight: 700; ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, aliquid. Facere quae qui a rem?</div> 
                                                <br>
                                                <a href="array/"><button class="button">Go</button></a>
                                        </div>





                                    </div>
                                    <div class="math_blocks">

                                        <div class="img"><img style="width: 267px; border-radius: 5px;" src="{% static 'ict/oop.png' %}" alt=""></div>
                                        <div class="words"> 
                                                <div style="font-size: 40px;line-height: 60px; font-family: Raleway; font-weight: 700; ">OOP </div>    
                                                <div style="font-size: 20px; line-height: 20px; font-family: Raleway; font-weight: 700; ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, aliquid. Facere quae qui a rem?</div> 
                                                <br>
                                                <a href="oop/"><button class="button">Go</button></a>
                                        </div>


                                    </div>
                                

                                    


                            </div>












                    </div>





                    




            </div>





            <footer class="footer-distributed">

       
          
                <div class="footer-left">
          
                  <p class="footer-links" style="font-family: 'Raleway' ; font-weight: 700;">
                    <a class="link-1" href="#">Home</a>
          
                    <a href="#">Blog</a>
          
                    <a href="#">Pricing</a>
          
                    <a href="#">About</a>
          
                    <a href="#">Faq</a>
          
                    <a href="#">Contact</a>
                  </p>
          
                  <p>Company Name &copy; 2022</p>
                </div>
          
              </footer>

          

        </body>
</html>